/* Factor A - Ultralight */
@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-Ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-UltralightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

/* Factor A - Light */
@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Factor A - Regular */
@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Factor A - Medium */
@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* Factor A - Bold */
@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Factor A - Extrabold */
@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-Extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-ExtraboldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

/* Factor A - Black */
@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A';
    src: url('../../public/fonts/FactorA-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}